@{
    ViewData["Title"] = "Numbers 1 to N";
}

@if((int?)ViewData["Count"] > 0)
{
    <h2>Nums 1 to @ViewData["Count"]</h2>
}
else
{
    <h2>Nums 1 to N</h2>
}

<form asp-controller="Home" asp-action="NumbersToN" method="post">
    <div class="row">
        <div class="col-2">
            <input type="number" min="0" step="1" name="count"/>
        </div>
        <div class="col-2">
            <input class="btn btn-primary" value="Submit"/>
        </div>
    </div>
   
</form>
